# <center>Introduction to Pandas</center>

![](https://pandas.pydata.org/_static/pandas_logo.png)


## Installation

Simply,
```
pip install pandas
```


## Reading data from a CSV file

You can read data from a CSV file using the ``read_csv`` function. By default, it assumes that the fields are comma-separated.

In [ ]:
# import pandas
import pandas as pd

>The `imdb.csv` dataset contains Highest Rated IMDb "Top 1000" Titles.

In [18]:
# load imdb dataset as pandas dataframe
import pandas as pd
imdb ="C:\\Users\\thejosai\\Downloads\\imdb.csv"
imdb_df = pd.read_csv(imdb)
print(imdb_df)

     Unnamed: 0                                              Title  \
0             0                 1. The Shawshank Redemption (1994)
1             1                            2. The Godfather (1972)
2             2                          3. The Dark Knight (2008)
3             3                   4. The Godfather: Part II (1974)
4             4  5. The Lord of the Rings: The Return of the Ki...
..          ...                                                ...
995         995                       398. Scent of a Woman (1992)
996         996                                399. Aladdin (1992)
997         997                                    400. JFK (1991)
998         998                      301. Nights of Cabiria (1957)
999         999                        302. Throne of Blood (1957)

    Certificate Duration                         Genre  Rate  Metascore  \
0             R  142 min                         Drama   9.3       80.0
1             R  175 min                  Crime, Drama   9.2      100.0
2         PG-13  152 min          Action, Crime, Drama   9.0       84.0
3             R  202 min                  Crime, Drama   9.0       90.0
4         PG-13  201 min      Action, Adventure, Drama   8.9       94.0
..          ...      ...                           ...   ...        ...
995           R  156 min                         Drama   8.0        NaN
996           G   90 min  Animation, Adventure, Comedy   8.0       86.0
997           R  189 min      Drama, History, Thriller   8.0       72.0
998   Not Rated  110 min                         Drama   8.1        NaN
999   Not Rated  110 min                Drama, History   8.1        NaN

                                           Description  \
0    Two imprisoned men bond over a number of years...
1    The aging patriarch of an organized crime dyna...
2    When the menace known as the Joker wreaks havo...
3    The early life and career of Vito Corleone in ...
4    Gandalf and Aragorn lead the World of Men agai...
..                                                 ...
995  A prep school student needing money agrees to ...
996  A kindhearted street urchin and a power-hungry...
997  New Orleans District Attorney Jim Garrison dis...
998  A waifish prostitute wanders the streets of Ro...
999  A war-hardened general, egged on by his ambiti...

                                                  Cast  \
0    Director: Frank Darabont | Stars: Tim Robbins,...
1    Director: Francis Ford Coppola | Stars: Marlon...
2    Director: Christopher Nolan | Stars: Christian...
3    Director: Francis Ford Coppola | Stars: Al Pac...
4    Director: Peter Jackson | Stars: Elijah Wood, ...
..                                                 ...
995  Director: Martin Brest | Stars: Al Pacino, Chr...
996  Directors: Ron Clements, John Musker | Stars: ...
997  Director: Oliver Stone | Stars: Kevin Costner,...
998  Director: Federico Fellini | Stars: Giulietta ...
999  Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...

                                   Info
0     Votes: 2,295,987 | Gross: $28.34M
1    Votes: 1,584,782 | Gross: $134.97M
2    Votes: 2,260,649 | Gross: $534.86M
3     Votes: 1,107,253 | Gross: $57.30M
4    Votes: 1,614,369 | Gross: $377.85M
..                                  ...
995     Votes: 256,515 | Gross: $63.90M
996    Votes: 367,489 | Gross: $217.35M
997     Votes: 139,634 | Gross: $70.41M
998       Votes: 42,160 | Gross: $0.75M
999                       Votes: 45,579

[1000 rows x 10 columns]

In [19]:
# show first 5 rows of imdb_df
df = imdb_df.iloc[:5]
df

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M"
3,3,4. The Godfather: Part II (1974),R,202 min,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"

>The `bikes.csv` dataset contains information about the number of bicycles that used certain bicycle lanes in Montreal in the year 2012.

In [20]:
# load bikes dataset as pandas dataframe
import pandas as pd
bikes ="C:\\Users\\thejosai\\Downloads\\bikes.csv"
bikes_df = pd.read_csv(bikes)

print(bikes_df)

           Date Unnamed: 1  Berri1  Boyer  Br√©beuf  \
0    01/01/2015      00:00      58     12        4
1    02/01/2015      00:00      75      7        5
2    03/01/2015      00:00      79      7        3
3    04/01/2015      00:00      10      1       21
4    05/01/2015      00:00      42      0        2
..          ...        ...     ...    ...      ...
314  11/11/2015      00:00    3044   1931     2828
315  12/11/2015      00:00    1751    930     1670
316  13/11/2015      00:00    1818    906     1711
317  14/11/2015      00:00     979    759      978
318  15/11/2015      00:00     913    749     1028

     CSC (C√¥te Sainte-Catherine)  Maisonneuve_1  Maisonneuve_2  Maisonneuve_3  \
0                             17           33.0             49             21
1                             15           30.0            113             27
2                              7           30.0            107             36
3                              0           10.0             35             29
4                              0           27.0             90             21
..                           ...            ...            ...            ...
314                         1393            NaN           3603           1754
315                          888            NaN           2048            700
316                          873            NaN           2115            634
317                          322            NaN           1112            290
318                          348            NaN           1128            303

     Notre-Dame  ...  Pont_Jacques_Cartier  Rachel / H√¥tel de Ville  \
0            16  ...                   NaN                       58
1             9  ...                   NaN                      109
2            12  ...                   NaN                       71
3             1  ...                   NaN                        6
4             1  ...                   NaN                        0
..          ...  ...                   ...                      ...
314        1142  ...                 950.0                     2328
315         675  ...                 467.0                     1345
316         477  ...                 482.0                     1416
317         310  ...                 266.0                     1061
318         224  ...                 380.0                     1094

     Rachel / Papineau  Ren√©-L√©vesque  Saint-Antoine  \
0                   91             24              3
1                  177             32             13
2                  131             33              5
3                   11              6              1
4                    5             49             20
..                 ...            ...            ...
314               3280           1210            338
315               1877            755            180
316               1980            719            204
317               1448            269             70
318               1491            321             64

     Saint-Laurent U-Zelt Test  Saint-Urbain  Totem_Laurier  University  Viger
0                          NaN            17             78          21      6
1                          NaN            11             57          77      4
2                          NaN            14            174          40      5
3                          NaN             1             20           6      0
4                          NaN             0             41          56     10
..                         ...           ...            ...         ...    ...
314                     4065.0          1534           1527        2860    356
315                     2336.0           960            955        1777    198
316                     2628.0           978           1040        1727    258
317                     1876.0           640            805         737     73
318                     1913.0           537            804         685     63

[319 rows x 23 columns]

In [21]:
# show first 3 rows of bikes_df
df = bikes_df.iloc[:3]
df

,Date,Unnamed: 1,Berri1,Boyer,Br√©beuf,CSC (C√¥te Sainte-Catherine),Maisonneuve_1,Maisonneuve_2,Maisonneuve_3,Notre-Dame,...,Pont_Jacques_Cartier,Rachel / H√¥tel de Ville,Rachel / Papineau,Ren√©-L√©vesque,Saint-Antoine,Saint-Laurent U-Zelt Test,Saint-Urbain,Totem_Laurier,University,Viger
0,01/01/2015,00:00,58,12,4,17,33.0,49,21,16,...,NaN,58,91,24,3,NaN,17,78,21,6
1,02/01/2015,00:00,75,7,5,15,30.0,113,27,9,...,NaN,109,177,32,13,NaN,11,57,77,4
2,03/01/2015,00:00,79,7,3,7,30.0,107,36,12,...,NaN,71,131,33,5,NaN,14,174,40,5

## Selecting columns

When you read a CSV, you get a kind of object called a DataFrame, which is made up of rows and columns. You get columns out of a DataFrame the same way you get elements out of a dictionary.

In [22]:
# list columns of imdb_df
columns=imdb_df.columns.tolist()
columns

['Unnamed: 0',
 'Title',
 'Certificate',
 'Duration',
 'Genre',
 'Rate',
 'Metascore',
 'Description',
 'Cast',
 'Info']

In [24]:
# what are the datatypes of values in columns
datatypes=imdb.dtypes
datatypes

AttributeError: 'str' object has no attribute 'dtypes'

In [27]:
# list first 5 movie titles
imdb_df['Title'].iloc[:5]

0                   1. The Shawshank Redemption (1994)
1                              2. The Godfather (1972)
2                            3. The Dark Knight (2008)
3                     4. The Godfather: Part II (1974)
4    5. The Lord of the Rings: The Return of the Ki...
Name: Title, dtype: object

In [29]:
# show only movie title and genre
imdb_df[['Title','Genre']]

,Title,Genre
0,1. The Shawshank Redemption (1994),Drama
1,2. The Godfather (1972),"Crime, Drama"
2,3. The Dark Knight (2008),"Action, Crime, Drama"
3,4. The Godfather: Part II (1974),"Crime, Drama"
4,5. The Lord of the Rings: The Return of the Ki...,"Action, Adventure, Drama"
...,...,...
995,398. Scent of a Woman (1992),Drama
996,399. Aladdin (1992),"Animation, Adventure, Comedy"
997,400. JFK (1991),"Drama, History, Thriller"
998,301. Nights of Cabiria (1957),Drama
999,302. Throne of Blood (1957),"Drama, History"

## Understanding columns

On the inside, the type of a column is ``pd.Series`` and pandas Series are internally numpy arrays. If you add ``.values`` to the end of any Series, you'll get its internal **numpy array**.

In [ ]:
# show the type of duration column

In [ ]:
# show duration values of movies as numpy arrays

## Applying functions to columns

Use `.apply` function to apply any function to each element of a column.

In [ ]:
# convert all the movie titles to uppercase

## Plotting a column

Use ``.plot()`` function!

In [ ]:
# plot the bikers travelling to Berri1 over the year

In [ ]:
# plot all the columns of bikes_df

## Value counts

Get count of unique values in a particular column/Series.

In [ ]:
# what are the unique genre in imdb_df?

In [ ]:
# plotting value counts of unique genres as a bar chart

In [ ]:
# plotting value counts of unique genres as a pie chart

## Index

### DATAFRAME = COLUMNS + INDEX + ND DATA

### SERIES = INDEX + 1-D DATA

**Index** or (**row labels**) is one of the fundamental data structure of pandas. It can be thought of as an **immutable array** and an **ordered set**.

> Every row is uniquely identified by its index value.

In [ ]:
# show index of bikes_df

In [ ]:
# get row for date 2012-01-01

#### To get row by integer index:

Use ``.iloc[]`` for purely integer-location based indexing for selection by position.

In [ ]:
# show 11th row of imdb_df using iloc

## Selecting rows where column has a particular value

In [ ]:
# select only those movies where genre is adventure

In [ ]:
# which genre has highest number of movies with star rating above 8 and duration more than 130 minutes?

## Adding a new column to DataFrame

In [ ]:
# add a weekday column to bikes_df

## Deleting an existing column from DataFrame

In [ ]:
# remove column 'Unnamed: 1' from bikes_df

## Deleting a row in DataFrame

In [ ]:
# remove row no. 1 from bikes_df

## Group By

Any groupby operation involves one of the following operations on the original object. They are ‚àí

- Splitting the Object

- Applying a function

- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations ‚àí

- **Aggregation** ‚àí computing a summary statistic

- **Transformation** ‚àí perform some group-specific operation

- **Filtration** ‚àí discarding the data with some condition

In [ ]:
# group imdb_df by movie genres

In [ ]:
# get crime movies group

In [ ]:
# get mean of movie durations for each group

In [ ]:
# change duration of all movies in a particular genre to mean duration of the group

In [ ]:
# drop groups/genres that do not have average movie duration greater than 120.

In [ ]:
# group weekday wise bikers count

In [ ]:
# get weekday wise biker count

In [ ]:
# plot weekday wise biker count for 'Berri1'

![](https://memegenerator.net/img/instances/500x/73988569/pythonpandas-is-easy-import-and-go.jpg)